@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.MainContainer {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    padding-top: 1rem;
}


/* Latereal esquerda da pagina*/
.MainContainer .left {
    width: calc(100% - 30%);
    overflow-y: scroll;
    transition: all a.3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
}

.MainContainer .left::-webkit-scrollbar {
    display: none;
}

.MainContainer .left .Banner {
    height: 200px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
    position: relative;
}

.MainContainer .left .Banner .TextContainer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-items: start;
}

.MainContainer .left .Banner .TextContainer h1 {
    background-image: url(../Assets/imgs/Fogo.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 5px 1px #fff;
    color: transparent;
    font-size: 2vw;
    font-weight: 700;
    font-family: "Russo One", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 5px;
    grid-column: 1 / span 2;
}

.MainContainer .left .Banner .TextContainer h2 {
    font-size: 1.5vw;
    font-family: "Russo One", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 5px;
    color: #00ff26;
    text-shadow: 3px 1px 1px #000;
}

.MainContainer .left .Banner .TextContainer p {
    font-size: .6vw;
    color: #fff;
    font-family: "Russo One", sans-serif;
}


/* Botão de download*/
.TextContainer .Down {
    grid-column: 1 / span 2;
}

.TextContainer .Down button i.ButtonDown {
    margin: 5px;
    font-size: .8rem;
    color: #fff;
}

.TextContainer .Down button a {
    font-size: .6vw;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px;
}


/* Cards Geral*/
.ContainerCards {
    background: #ffffff04;
    box-shadow: -1px 2px 10px 0 rgba(31, 38, 135, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

.ContainerCards .Filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 2rem;
    border-bottom: 1px solid #00ff26;
    border-radius: 5px;
}

.ContainerCards .Filters .Populares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ContainerCards .Filters .Populares h2 {
    font-size: 1.5vw;
    font-family: "Russo One", sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: #00ff26;
    margin-right: 1rem;
}

.Populares .FilterButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}

.Populares .FilterButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: transparent;
    padding: .3rem;
}

.Populares .FilterButtons button:hover {
    background: #00ff26;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.Populares .FilterButtons button a {
    width: 100%;
    height: 100%;
    font-size: .6vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    margin: 0 0.5rem;
}

.Populares .FilterButtons button a:hover {
    color: #000;
}

/* Lateral direita da pagina */
.MainContainer .Right {
    width: calc(100% - 70%);
    padding: 0 10px;
    padding-left: 20px;
    transition: all a.3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
}